.more_page .container {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 949px) {
	.more_page .container {
		padding-top: 40px;
		padding-bottom: 40px;
 }
}
i {
	cursor: pointer;
}
.social-cta {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 196px;
	padding: 20px 30px;
	letter-spacing: 1px;
	background-color: #fff;
	display: none;
}
.social-cta__progress {
	font-size: 12px;
	margin-bottom: 20px;
}
.social-cta__progress.progress--red {
	color: red;
}
.social-cta__progress.progress--green {
	color: green;
}
.social-cta__twitch {
	text-align: center;
	line-height: 1.5em;
}
.social-cta__social-list {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.social-cta__social-list__item {
	width: 40px;
	height: 40px;
}
.social-cta__social-list__item:last-child {
	margin-left: 20px;
}
.social-cta__social-list__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.social-cta__design-file {
	margin-top: 40px;
}
.portfolio-slider {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-width: 320px;
	height: auto;
	margin: 0 auto;
}
@media only screen and (min-width: 950px) {
	.portfolio-slider {
		width: 950px;
		height: 420px;
		min-height: 420px;
		flex-direction: row;
 }
}
.portfolio-slider__left-cont, .portfolio-slider__image-slider {
	display: flex;
}
.portfolio-slider__left-cont {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	position: relative;
	flex: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
@media only screen and (min-width: 767px) {
	.portfolio-slider__left-cont {
		padding: 30px;
 }
}
@media only screen and (min-width: 950px) {
	.portfolio-slider__left-cont {
		flex: 43%;
		padding: 40px;
 }
}
.portfolio-slider__left-cont__title {
	width: 100%;
	display: block;
	color: #777;
	font-weight: bold;
	margin-bottom: 25px;
}
.portfolio-slider__left-cont__name-cont {
	display: flex;
	align-items: center;
}
.portfolio-slider__left-cont__name-cont__name {
	display: inline-block;
	max-width: 90%;
	margin-right: 30px;
	color: #444;
	font-size: 32px;
	font-weight: bold;
}
.portfolio-slider__left-cont__name-cont__name span {
	display: none;
}
.portfolio-slider__left-cont__name-cont__name span.active {
	display: block;
}
.portfolio-slider__left-cont__name-cont__controls {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.portfolio-slider__left-cont__name-cont__controls > i:last-child {
	margin-left: 15px;
}
.portfolio-slider__left-cont__grid {
	margin-top: 40px;
	width: 100%;
	height: 233px;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 63px 1fr 1fr;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-areas: "copy copy activePerson" "person1 person2 activePerson" "person3 person4 activePerson";
}
@media only screen and (min-width: 950px) {
	.portfolio-slider__left-cont__grid {
		margin-top: auto;
 }
}
.portfolio-slider__left-cont__grid > * {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}
.portfolio-slider__left-cont__grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.portfolio-slider__left-cont__grid__person:not(.active) {
	opacity: 0.5;
}
.portfolio-slider__left-cont__grid__copy {
	position: relative;
	grid-area: copy;
	font-size: 12px;
	line-height: 1.3em;
	letter-spacing: 1px;
	color: #777;
}
.portfolio-slider__left-cont__grid__copy p {
	position: absolute;
	top: 0;
	left: 0;
	transition: all ease-in-out 0.5s;
	opacity: 0;
}
.portfolio-slider__left-cont__grid__copy p.active {
	opacity: 1;
}
.portfolio-slider__left-cont__grid__person.active {
	grid-area: activePerson;
}
.portfolio-slider__image-slider-cont {
	position: relative;
	flex: 100%;
	height: 0;
	padding-bottom: 55%;
	overflow: hidden;
}
@media only screen and (min-width: 950px) {
	.portfolio-slider__image-slider-cont {
		flex: 57%;
		height: auto;
		padding-bottom: 0;
 }
}
.portfolio-slider__image-slider-cont__slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease-in-out 0.5s;
}
.portfolio-slider__image-slider-cont__slider:not(.active) {
	transform: translateY(-100px);
}
@media only screen and (min-width: 950px) {
	.portfolio-slider__image-slider-cont__slider:not(.active) {
		transform: translateX(-100px);
 }
}
.portfolio-slider__image-slider-cont__slider.active {
	opacity: 1;
	z-index: 2;
	transform: translateY(0px);
}
@media only screen and (min-width: 950px) {
	.portfolio-slider__image-slider-cont__slider.active {
		transform: translateX(0px);
 }
}
.portfolio-slider__image-slider-cont__slider.active .portfolio-slider__image-slider-cont__slider__controls-cont {
	z-index: 3;
}
.portfolio-slider__image-slider-cont__slider img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity ease-in-out 0.5s;
}
.portfolio-slider__image-slider-cont__slider img.active {
	opacity: 1;
}
.portfolio-slider__image-slider-cont__slider__controls-cont {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 120px;
	height: 35px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: -1;
	transform: translateX(-50%);
}
