@media(max-width: 761px) {
	.work_process {
		margin: 0 0 60px 0;
		height: 400px;
	}
}

@media(min-width: 760px) {
	.work_process {
		margin: 0 0 80px 0;
		height: 600px;
	}
}

.work_process .container {
	height: inherit;
	flex-direction: column;
	align-items: center;
}

.work_process iframe {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
